html {
  background-color: #c9b5ab;
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
}

h1 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
}

h2 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
}

nav {
  font-family: "PT Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: bold;
}

figcaption {
  font-style: italic;
  text-align: center;
  font-size: 0.8rem;
}

dt {
  font-weight: normal;
}

figure {
  color: #222;
  font-family: "PT Serif", serif;
  width: 100%;
}

img {
  width: 100%;
}

dt {
  font-weight: bold;
}

a {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #8f2440;
  text-decoration: underline;
}

.common {
  list-style-type: lower-greek;
}

.tags {
  list-style-type: circle;
}

blockquote {
  line-height: 1.5;
  font-size: 1.5rem;
  font-style: italic;
}

nav ol {
  list-style-type: none;
}

p:nth-last-of-type(1+2) {
  font-family: "PT Serif", serif;
  font-size: 1.125rem;
}

.chris {
  font-size: 0.8rem;
}
